@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* GRAY GRADIENTS */
  .bg-gradient-one {
    background: var(
      --gradient-1,
      linear-gradient(
        90deg,
        #060405 0%,
        #040304 25%,
        rgba(0, 0, 0, 0.45) 73.96%,
        rgba(4, 4, 4, 0) 100%
      )
    );
  }

  .bg-gradient-two {
    background: linear-gradient(
      180deg,
      #030202 0%,
      rgba(3, 3, 3, 0.6) 51.04%,
      rgba(3, 3, 3, 0.52) 57.29%,
      rgba(3, 3, 3, 0) 97.92%
    );
  }

  .bg-gradient-three {
    background: var(
      --gradient-3,
      linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(5, 4, 4, 0.36) 44.79%,
        rgba(2, 1, 2, 0) 100%
      )
    );
  }

  .bg-gradient-four {
    background: var(
      --gradient-4,
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 19.09%,
        rgba(0, 0, 0, 0.17) 59.38%,
        rgba(0, 0, 0, 0) 100%
      )
    );
  }

  .bg-gradient-five {
    background: var(
      --gradient-5,
      linear-gradient(
        90deg,
        rgba(11, 10, 5, 0.8) 58.33%,
        rgba(8, 5, 19, 0.32) 79.17%,
        rgba(8, 5, 19, 0) 96.88%
      )
    );
  }

  /* BLURS */
  .blur {
    background: rgba(255, 255, 255, 0.4);
    filter: blur(4px);
  }

  .gradient-one {
    background: linear-gradient(
      0deg,
      #060405 0%,
      #040304 25%,
      rgba(0, 0, 0, 0.45) 73.96%,
      rgba(4, 4, 4, 0) 100%
    );
  }

  .gradient-two {
    background: linear-gradient(
      180deg,
      #030202 0%,
      rgba(3, 3, 3, 0.6) 51.04%,
      rgba(3, 3, 3, 0) 97.92%
    );
  }

  .gradient-three {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(5, 4, 4, 0.36) 44.79%,
      rgba(2, 1, 2, 0) 100%
    );
  }

  .brown-shadow {
    text-shadow: rgba(241, 142, 96) 0px 0px 10px;
  }

  /* BORDERS */
  .double_border {
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    appearance: none;
    border: 0;
    background: transparent;
    color: #b3885f;
    background-color: rgba(7, 17, 21, 0.603);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  }

  .double_border__horizontal,
  .double_border__vertical {
    position: absolute;
    transition: transform 0.8s ease;
    will-change: transform;
    border-radius: 10px;
  }

  .double_border__horizontal::before,
  .double_border__vertical::before {
    content: "";
    position: absolute;
    border: inherit;
    border-radius: 10px;
  }

  .double_border__horizontal {
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
  }

  .double_border__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
  }

  .double_border__vertical {
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
  }

  .double_border__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
  }

  .white-shadow {
    text-shadow: 0px 0px 20px #fff;
  }
}

@layer components {
  .heading-2xl {
    font-family: Cinzel;
    font-size: 70px;
    font-style: normal;
    line-height: 80px;
    letter-spacing: 7px;
  }

  .heading-xl {
    font-family: Cinzel;
    font-size: 60px;
    font-style: normal;
    line-height: 60px;
    letter-spacing: 6px;
  }

  .heading-3lg {
    font-family: Cinzel;
    font-size: 50px;
    font-style: normal;
    line-height: 50px;
    letter-spacing: 5px;
  }

  .heading-2lg {
    font-family: Cinzel;
    font-size: 40px;
    font-style: normal;
    line-height: 50px;
  }

  .heading-lg {
    font-family: Cinzel;
    font-size: 32px;
    font-style: normal;
    line-height: 36px;
    letter-spacing: 0.32px;
  }

  .heading-2md {
    font-family: Cinzel;
    font-size: 28px;
    font-style: normal;
    line-height: 36px;
    letter-spacing: 0.28px;
  }

  .heading-md {
    font-family: Cinzel;
    font-size: 24px;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.48px;
  }

  .heading-sm {
    font-family: Cinzel;
    font-size: 20px;
    font-style: normal;
    line-height: 26px;
  }

  .heading-xs {
    font-family: Cinzel;
    font-size: 18px;
    font-style: normal;
    line-height: 26px;
  }

  .heading-3xxs {
    font-family: Cinzel;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
  }

  .heading-2xxs {
    font-family: Cinzel;
    font-size: 14px;
    font-style: normal;
    line-height: 26px;
  }

  .heading-xxs {
    font-family: Cinzel;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
  }

  .body-lg {
    font-family: Sorts Mill Goudy;
    font-size: 24px;
    font-style: normal;
    line-height: 30px;
  }

  .body-2md {
    font-family: Sorts Mill Goudy;
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
  }

  .body-md {
    font-family: Sorts Mill Goudy;
    font-size: 18px;
    font-style: normal;
    line-height: 26px;
  }

  .body-xs {
    font-family: Sorts Mill Goudy;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
  }

  .body-sm {
    font-family: Sorts Mill Goudy;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
  }

  .button-border {
    border: 2px solid #ebd69d;
    border-color: #ebd69d;
    /* fallback */
    border-image: linear-gradient(
        220deg,
        #ebd69d 0%,
        #ebd69d 45%,
        transparent 42%,
        transparent 57%,
        #ebd69d 57%,
        #ebd69d 100%
      )
      1;
  }

  .button-border:hover {
    border: 2px solid #ebd69d;
    border-color: #ebd69d;
    /* fallback */
    border-image: linear-gradient(
        320deg,
        #ebd69d 0%,
        #ebd69d 45%,
        transparent 42%,
        transparent 57%,
        #ebd69d 57%,
        #ebd69d 100%
      )
      1;
  }

  .button-border:active {
    border: 2px solid #ebd69d;
    border-color: #ebd69d;
    /* fallback */
    border-image: linear-gradient(
        320deg,
        #ddbc60 0%,
        #ddbc60 45%,
        transparent 42%,
        transparent 57%,
        #ddbc60 57%,
        #ddbc60 100%
      )
      1;
  }

  .button-border-disabled {
    border: 2px solid gray;
    border-color: gray;
    /* fallback */
    border-image: linear-gradient(
        220deg,
        gray 0%,
        gray 45%,
        transparent 42%,
        transparent 57%,
        gray 57%,
        gray 100%
      )
      1;
  }

  .button-secondary {
    background-image: url("./assets/button_secondary_background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .button-secondary:hover {
    background-image: url("./assets/button_secondary_background_hover.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .button-secondary:active {
    background-image: url("./assets//buton_secondary_background_clicked.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .stepper-disabled-line {
    background-image: linear-gradient(
      rgb(255, 255, 255) 33%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: right;
    background-size: 0.5px 20px;
    background-repeat: repeat-y;
  }

  .shrine_card:hover {
    box-shadow: 0px 0px 0px 0px rgba(48, 48, 48, 0.1),
      6px 3px 14px 0px rgba(48, 48, 48, 0.1),
      23px 11px 26px 0px rgba(48, 48, 48, 0.09),
      52px 24px 34px 0px rgba(48, 48, 48, 0.05),
      92px 43px 41px 0px rgba(48, 48, 48, 0.01),
      144px 68px 45px 0px rgba(48, 48, 48, 0);
  }

  .evolved_red {
    border: 3px solid #eb6316;
    box-shadow: 0px 0px 10px 0px #d34343;
    border-radius: 0.75rem;
  }

  .evolved_blue {
    border: 3px solid #80bfde;
    box-shadow: 0px 0px 10px 0px #2d989f;
    border-radius: 0.75rem;
  }

  .evolved_dark_blue {
    border: 3px solid #084baf;
    box-shadow: 0px 0px 10px 0px #084baf;
    border-radius: 0.75rem;
  }

  .evolved_green {
    border-radius: 12px;
    border: 3px solid #3CDD4C;
    box-shadow: 0px 0px 10px 0px #45BF60;
  }

  .menu {
    transition: transform 0.3s ease, opacity 0.3s ease;
    left: -100vw;
  }

  .menu_open {
    transform: translateX(100vw);
    opacity: 1;
  }
}

body {
  background-color: #030202;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@keyframes slideAnimation {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(0deg);
  }

  0% {
    transform: rotate(360deg);
  }
}

.rotating_arrows {
  display: inline-block;
  animation: rotate 5s linear infinite;
}

.loop_wrapper[data-animate="true"] .loop_instance {
  animation: slideAnimation linear infinite;
}

.loop__instance {
  animation: none;
}

.shrine_card_border {
  border-radius: 10px;
  border: 1px solid var(--primary-base-color, #ebd69d);
}

.shrine_card_border_selected {
  border-radius: 10px;
  border: 2px solid var(--primary-80, #eeddac);
  box-shadow: 0px 0px 10px 0px #e3deac;
}
